<div class="box">
<h1 class="text-center bg-color="dark"">マルチメディア論b期末課題</h1>
<h4 class="text-center">金充満　舘空豊</h4>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "IMG_6643.JPG", class: "d-block w-100" %>
      <div class="carousel-caption d-none d-md-block">
    <p>私たちは、お気に入りのファッションアイテムを投稿して、<br>
                ユーザ間でシェアできるプラットフォームを作成しました。<br>
                ご利用には新規会員登録が必要ですが、<br>
                会員でない方も商品の閲覧は可能です。</p>
      </div>
    </div>
    
    <div class="carousel-item">
      <%= image_tag "IMG_6644.JPG", class: "d-block w-100" %>
       <div class="carousel-caption d-none d-md-block">
    <p>私たちは、お気に入りのファッションアイテムを投稿して、<br>
                ユーザ間でシェアできるプラットフォームを作成しました。<br>
                ご利用には新規会員登録が必要ですが、<br>
                会員でない方も商品の閲覧は可能です。</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "IMG_6645.JPG", class: "d-block w-100"%>
       <div class="carousel-caption d-none d-md-block">
    <p>私たちは、お気に入りのファッションアイテムを投稿して、<br>
                ユーザ間でシェアできるプラットフォームを作成しました。<br>
                ご利用には新規会員登録が必要ですが、<br>
                会員でない方も商品の閲覧は可能です。</p>
      </div>
    </div>
  </div>
  </div>
 
</div>